[project]
	description = "Causal MML.  Learns Causal Bayesian Networks in Java."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rodney O'Donnell (rodneyodonnell)
[access "refs/for/refs/*"]
	read = group user/Rodney O'Donnell (rodneyodonnell)
	push = group user/Rodney O'Donnell (rodneyodonnell)
	label-Code-Review = -2..+2 group user/Rodney O'Donnell (rodneyodonnell)
	label-Verified = -1..+1 group user/Rodney O'Donnell (rodneyodonnell)
	rebase = group user/Rodney O'Donnell (rodneyodonnell)
	removeReviewer = group user/Rodney O'Donnell (rodneyodonnell)
	submit = group user/Rodney O'Donnell (rodneyodonnell)
[access "refs/heads/*"]
	read = group user/Rodney O'Donnell (rodneyodonnell)
	create = group user/Rodney O'Donnell (rodneyodonnell)
	push = +force group user/Rodney O'Donnell (rodneyodonnell)
	pushMerge = group user/Rodney O'Donnell (rodneyodonnell)
[access "refs/tags/*"]
	push = group user/Rodney O'Donnell (rodneyodonnell)
	push = +force group user/Rodney O'Donnell (rodneyodonnell)
